
body{
    font-family: 'Times New Roman', Times, serif;

}
.regform{
    width: 500px;
    margin: 250px auto;
    padding: 10px 20px 30px;
    background-color: darkgrey;
    font: 1em sans-serif;
  border-radius: 10px;
    }
    .regform h1{
        text-align: center;
        color: darkblue;
    }
    .input input {
        width: 100%;
font-size: 1.5em;
border-radius: 4em;
padding: 5px 5px

    }
    .input :focus{
        background-color: darkcyan;
    }
    .btn{
        text-align: center  
        
    }
    button{
        background-color: rgb(160, 74, 74);
    }